<div class="row">

  <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

  <div class="col-md-12" *ngIf="!toggleLoading">

    <ngx-datatable class="material expandable" [rows]="rows" [columnMode]="'force'" [columns]="[]"
                   [headerHeight]="50"
                   [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10"
                   [selected]="[]"
                   [selectionType]="'falsey'">
      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                            [resizeable]="false" [headerCheckboxable]="false"
                            [checkboxable]="false">
      </ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="name" name="{{'SHARED.VALUE'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="id" name="{{'SHARED.EDIT'|translate}}">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

          <button class="btn btn-light" (click)="edit(row)">
            <i class="fa fa-pencil-square-o"></i>{{'SHARED.EDIT'|translate}}
          </button>

        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="id" name="{{'SHARED.REMOVE'|translate}}">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <button class="btn btn-danger" (click)="remove(row)">
            <i class="fa fa-times" aria-hidden="true"></i>
            {{'SHARED.REMOVE'|translate}}
          </button>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>

<div class="row" *ngIf="!toggleLoading">
  <div class="col-md-3 col-md-offset-9 add-button">
    <button class="btn btn-dark btn-add" (click)="add()"><i class="fa fa-plus-circle"></i> {{'ADMN.ADNEW'|translate}} {{type}}</button>
  </div>
</div>
