<div class="uk-card uk-card-default">

  <!-- <app-contract-table [contracts]="contracts"></app-contract-table> -->
  <div class="row" style="text-align:left !important">
    <div class="col-md-offset-1 col-md-10">
      <ngx-datatable class="material expandable" [rows]="contracts" [columnMode]="'force'" [columns]="[]" [externalPaging]="true"
        [count]="page.count" [offset]="page.offset" [limit]="page.limit" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'"
        [scrollbarH]="true" [selected]="[]" [selectionType]="'falsey'" (page)="pageCallback($event)">
        <!-- <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="false"
            [checkboxable]="false">
          </ngx-datatable-column> -->
          <ngx-datatable-column [width]='60' prop="cont_no" name="{{'CONTRACT.cont#'|translate}}"></ngx-datatable-column>
          <ngx-datatable-column [width]='120' prop="contract_type" name="{{'CONTRACT.TYPE'|translate}}"></ngx-datatable-column>
    <!-- <ngx-datatable-column [width]='120' prop="owner_name" name="{{'CUSTOMER.NAME'|translate}}"></ngx-datatable-column>
    <ngx-datatable-column [width]='120' prop="civil_id" name="{{'CUSTOMER.CIVIL_ID'|translate}}"></ngx-datatable-column>
    <ngx-datatable-column [width]='120' prop="tenants_passport" name="{{'CUSTOMER.Pasport'|translate}}"></ngx-datatable-column> -->

    <ngx-datatable-column [width]='180' prop="owner_name" name="{{'CUSTOMER.ownrNam'|translate}}"></ngx-datatable-column>
    <ngx-datatable-column [width]='220' prop="real_name" name="{{'CUSTOMER.relNam'|translate}}"></ngx-datatable-column>
    
    <ngx-datatable-column [width]='90' prop="from_dt" name="{{'CONTRACT.START'|translate}}"></ngx-datatable-column>

    <ngx-datatable-column [width]='90' prop="to_date" name="{{'CONTRACT.End'|translate}}"></ngx-datatable-column>

    <!-- <ngx-datatable-column [width]='60' prop="amount" name="{{'SHARED.PRICE'|translate}}"></ngx-datatable-column> -->


        <!-- <ngx-datatable-column [width]='150' prop="" name="Attachements">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
    
              <a style="display: inline" target="_blank" *ngFor="let u of row.contractFiles"
                 [href]="u.url">{{u.fileName}}, </a>
            </ng-template>
          </ngx-datatable-column> -->

        <!-- <ngx-datatable-column [width]='150' prop="" name="Estimation Reference">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <a
                style="display: inline; font-weight: bold;"
                (click)="routeToEstimation(row?.contractQuotations[0]?.quotation?.estimation?.id)">{{row?.contractQuotations[0]?.quotation?.estimation?.refNumber}}</a>
            </ng-template>
          </ngx-datatable-column> -->

        <ngx-datatable-column [width]='230' prop="id" name="{{'CONTRACT.actn'|translate}}">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

            <p-splitButton label="{{'CONTRACT.cretOrder'|translate}}" appendTo="body" icon="fa fa-check" 
              (onClick)="routeToGenerateOrder(row.contract_id)" (onDropdownClick)="setActiveRow(row)"
              [model]="buttonsList"></p-splitButton>

          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>

</div>
