html body .loading-spinner {
  margin-top: 50px;
  position: relative;
  top: 50%;
  left: 45%;
}
/* line 20, styles.scss */
html body .loading-spinner .ui-progress-spinner {
  margin-top: 75px;
}
/* line 24, styles.scss */
html body .loading-spinner .ui-progress-spinner .ui-progress-spinner-svg {
  width: 100%;
}