<h3 class="page-title">{{'SIDBAR.customrs' | translate}}</h3>

<p-progressSpinner *ngIf="toggleLoading" class="loading-spinner"></p-progressSpinner>


<div class="container" [hidden]="toggleLoading">
    <app-search (searchCanceled)="getCustomers()" [placholder]="'Please type customer phone or customer name to search ...'"
    (searchValue)="searchCustomers2($event)"></app-search>

  <div *ngIf="!toggleLoading" class="uk-card uk-card-default uk-animation-slide-top-small">

    <div class="row">
      <div class="col-md-offset-1 col-md-6">
        <h4 class="sub-title">{{'CUSTOMER.ListOfCusts' |translate}}</h4>
      </div>

      <!-- <div class="col-md-2 uk-text-right">
        <button class="btn btn-dark" (click)="printCustomer()">{{'CUSTOMER.prnt' |translate}}</button>
      </div>

      <div class="col-md-2 uk-text-right">
        <button class="btn btn-dark" (click)="exportCsv()">{{'CUSTOMER.Export' |translate}}</button>
      </div> -->
    </div>

    <div class="row" style="text-align:left !important">
      <div class="col-md-offset-1 col-md-10">
        <ngx-datatable class="material expandable" 
        [rows]="customers"
        [columnMode]="'force'" 
        [columns]="[]"
        [externalPaging]="true"
        [count]="page.count" [offset]="page.offset" [limit]="page.limit"
        [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'50'" 
        [scrollbarH]="true"
        [selected]="[]"
        [selectionType]="'falsey'"
        (page)="pageCallback($event)">

          <ngx-datatable-column [width]='150' prop="name_en" name="{{'CUSTOMER.NAME' |translate}}"></ngx-datatable-column>

          <!-- <ngx-datatable-column [width]='120' prop="civil_id" name="{{'CUSTOMER.CIVIL_ID' |translate}}"></ngx-datatable-column> -->

          <ngx-datatable-column [width]='120' prop="kinder_person_tel_no" name="{{'CUSTOMER.phone' |translate}}">
            <!-- <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <span style="margin-left: 2px"
                    *ngFor="let phone of row.customerPhoneBook; let i =index">{{phone?.phone}}<span
                *ngIf="i+1 < row.customerPhoneBook.length">,</span></span>
            </ng-template> -->
          </ngx-datatable-column>

          <ngx-datatable-column [width]='300' prop="address" name="{{'CUSTOMER.adrs' |translate}}">
            <!-- <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <div *ngFor="let location of row.locations; let i = index">
                {{location.block}} {{location.street}},{{location.area}},{{location.governorate}} <span
                *ngIf="i+1 < row.locations"> ,</span>
              </div>
            </ng-template> -->
          </ngx-datatable-column>
          
          <ngx-datatable-column [width]='120'
                                prop="id" name="{{'CUSTOMER.dtils' |translate}}">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
              <button class="btn btn-dark" [routerLink]="['./customerDetails', {customerId : row.id}]">{{'CUSTOMER.dtils' |translate}}</button>
            </ng-template>
          </ngx-datatable-column>
          <p *ngIf="customers.length == 0"></p>
        </ngx-datatable>

      </div>
    </div>

  </div>

</div>


<table style="position:absolute;z-index:-1000;" border="1" cellpadding="3" id="customer-table" *ngIf="print">
  <tbody>
  <tr>
    <th>{{'CUSTOMER.NAME' |translate}}</th>
    <!-- <th>{{'CUSTOMER.CIVIL_ID' |translate}}</th> -->
    <th>{{'CUSTOMER.phone' |translate}}</th>
    <th>{{'CUSTOMER.adrs' |translate}}</th>
  </tr>
  <tr *ngFor="let row of customers['Data']">
    <td>{{row?.name_en}}</td>
    <!-- <td>{{row?.civil_id}}</td> -->
    <td>{{row?.kinder_person_tel_no}}</td>
    <td>{{row?.address}}</td>
  </tr>
  </tbody>
</table>


<!--<div *ngFor="let location of row.locations; let i = index">-->
<!--{{location.block}} {{location.street}},{{location.area}},{{location.governorate}} <span-->
<!--*ngIf="i+1 < row.locations"> ,</span>-->
<!--</div>-->
