<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<h3 class="page-title">{{'CONTRACT.viwAllContrcts'|translate}}</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading" class="container">
  <app-search (searchCanceled)="getAllContracts()" [placholder]="'Please type contract number, owner name, real name, passport or customer name to search ...'"
    (searchValue)="searchContract($event)"></app-search>
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <p-messages [(value)]="bigMessage"></p-messages>
    </div>
  </div>
  <div *ngIf="!toggleLoading" class="uk-card uk-card-default uk-animation-slide-top-small">


    <!-- <div class="row uk-margin-bottom">
      <div class="col-md-offset-9 col-md-2">
        <button class="btn btn-dark" style="width:100%" (click)="openAddContractModal()">Add Contract</button>
      </div>
    </div> -->

    <!-- <app-contract-table (print)="printContracts()" [contracts]="contracts['Data']"></app-contract-table> -->

    <!-- <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <h4 class="sub-title">{{'CONTRACT.lstOsContrcts'|translate}}</h4>
      </div>
      <div class="col-md-offset-1 col-md-2">
        <button class="btn btn-dark" (click)="printContracts()">{{'CUSTOMER.prnt'|translate}}</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-dark" (click)="exportCsv()">{{'CUSTOMER.Export'|translate}}</button>
      </div>
    </div> -->

    <div class="row" style="text-align:left !important">
      <div class="col-md-offset-1 col-md-10">
        <ngx-datatable class="material expandable" [rows]="contracts" [columnMode]="'force'" [columns]="[]" [externalPaging]="true"
          [count]="page.count" [offset]="page.offset" [limit]="page.limit" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'"
          [scrollbarH]="true" [selected]="[]" [selectionType]="'falsey'" (page)="pageCallback($event)">
          <!-- <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="false"
              [checkboxable]="false">
            </ngx-datatable-column> -->
            <ngx-datatable-column [width]='60' prop="cont_no" name="{{'CONTRACT.cont#'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='120' prop="contract_type" name="{{'CONTRACT.TYPE'|translate}}"></ngx-datatable-column>
      <!-- <ngx-datatable-column [width]='120' prop="civil_id" name="{{'CUSTOMER.CIVIL_ID'|translate}}"></ngx-datatable-column>
      <ngx-datatable-column [width]='120' prop="tenants_passport" name="{{'CUSTOMER.Pasport'|translate}}"></ngx-datatable-column> -->

      <ngx-datatable-column [width]='130' prop="owner_name" name="{{'CUSTOMER.ownrNam'|translate}}"></ngx-datatable-column>
      <ngx-datatable-column [width]='210' prop="real_name" name="{{'CUSTOMER.relNam'|translate}}"></ngx-datatable-column>
      
      <ngx-datatable-column [width]='90' prop="from_dt" name="{{'CONTRACT.START'|translate}}">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date: 'd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]='90' prop="to_date" name="{{'CONTRACT.End'|translate}}">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date: 'd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>

      <!-- <ngx-datatable-column [width]='60' prop="amount" name="{{'SHARED.PRICE'|translate}}"></ngx-datatable-column> -->


          <!-- <ngx-datatable-column [width]='150' prop="" name="Attachements">
              <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
      
                <a style="display: inline" target="_blank" *ngFor="let u of row.contractFiles"
                   [href]="u.url">{{u.fileName}}, </a>
              </ng-template>
            </ngx-datatable-column> -->

          <!-- <ngx-datatable-column [width]='150' prop="" name="Estimation Reference">
              <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
                <a
                  style="display: inline; font-weight: bold;"
                  (click)="routeToEstimation(row?.contractQuotations[0]?.quotation?.estimation?.id)">{{row?.contractQuotations[0]?.quotation?.estimation?.refNumber}}</a>
              </ng-template>
            </ngx-datatable-column> -->

          <ngx-datatable-column [width]='200' prop="id" name="{{'CONTRACT.actn'|translate}}">
            <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

              <p-splitButton label="{{'CONTRACT.cretOrder'|translate}}" appendTo="body" icon="fa fa-check" 
                (onClick)="routeToGenerateOrder(row.contract_id)" (onDropdownClick)="setActiveRow(row)"
                [model]="buttonsList"></p-splitButton>

            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

      </div>
    </div>


  </div>
</div>



<table style="position:absolute;z-index:-1000;" border="1" cellpadding="3" id="contract-table">
  <tbody>
    <tr>
      <th>Contract Number</th>
      <th>Contract Type</th>
    <!-- <th>Civil ID</th>
    <th>Tenants Passport</th> -->
      <th>Real Name</th>
      <th>Owner Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <!-- <th>Price</th>
    <th>Unit No</th> -->
    </tr>
    <tr *ngFor="let row of contracts">
      <td>{{row?.cont_no}}</td>
      <td>{{row?.contract_type}}</td>
    <!-- <td>{{row?.civil_id}}</td>
    <td>{{row?.tenants_passport}}</td> -->
      <td>{{row?.real_name}}</td>
      <td>{{row?.owner_name}}</td>
      <td>{{row?.from_dt}}</td>
      <td>{{row?.to_date}}</td>
      <!-- <td>{{row?.amount}}</td>
    <td>{{row?.unit_no}}</td> -->
    </tr>
  </tbody>
</table>