<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>
<form #newCustomerForm="ngForm">

    <div ngModelGroup="customerInfo">

        <div class="row">

            <div class="form-group col-md-6 col-xs-12">
                <label>{{'CUSTOMER.NAME'|translate}}</label>
                <input class="form-control col-md-6" type="text" [(ngModel)]="newCustomer.name_en" name="name" readonly>
                <!-- <em *ngIf="newCustomerForm.submitted && newCustomerForm.controls?.customerInfo?.controls?.name?.invalid"><i
                        class="fa fa-exclamation-triangle"></i>This field is required</em> -->
            </div>

            <div class="form-group col-md-6 col-xs-12">
                <label>{{'CUSTOMER.CIVIL_ID'|translate}}</label>
                <input class="form-control col-md-6" type="text" [(ngModel)]="newCustomer.civil_id" name="civil" readonly>
                <!-- <select name="fK_CustomerType_Id" class="form-control" [(ngModel)]="newCustomer.fK_CustomerType_Id"
                        [required]="newCustomer.fK_CustomerType_Id !== 0">
                    <option [value]="undefined">-- Select Type --</option>
                    <option *ngFor="let type of customerTypes" [value]="type.id">{{type.name}}</option>
                </select>
                <em
                        *ngIf="newCustomerForm.submitted && newCustomerForm.controls?.customerInfo?.controls?.fK_CustomerType_Id?.invalid"><i
                        class="fa fa-exclamation-triangle"></i>This field is required</em> -->
            </div>
        </div>

        <div class="uk-margin-small-top row">
                <div class="form-group col-md-6 col-xs-12">
                        <label>{{'CUSTOMER.phone'|translate}}</label>
                        <input class="form-control col-md-6" type="text" [(ngModel)]="newCustomer.kinder_person_tel_no" name="Phone" readonly>
                        <!-- <em *ngIf="newCustomerForm.submitted && newCustomerForm.controls?.customerInfo?.controls?.name?.invalid"><i
                                class="fa fa-exclamation-triangle"></i>This field is required</em> -->
                    </div>
        
                    <div class="form-group col-md-6 col-xs-12">
                        <label>{{'CUSTOMER.adrs'|translate}}</label>
                        <input class="form-control col-md-6" type="text" [(ngModel)]="newCustomer.address" name="address" readonly>
                        </div>
            <!-- <div *ngFor="let phone of newCustomer.customerPhoneBook; let i = index">
                <div class="form-group col-md-6 col-xs-12">
                    <label>Phone Type</label>
                    <select [name]="'fK_PhoneType_Id' + i" required class="form-control"
                            [(ngModel)]="phone.fK_PhoneType_Id">
                        <option [value]="undefined">-- Select Phone Type --</option>
                        <option *ngFor="let phoneType of phoneTypes" [value]="phoneType.id">{{phoneType.name}}</option>
                    </select>
                    <em
                            *ngIf="newCustomerForm.submitted && newCustomerForm.controls?.customerInfo?.controls['fK_PhoneType_Id' + i]?.invalid"><i
                            class="fa fa-exclamation-triangle"></i>This field is required</em>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>Phone Number</label>
                    <input type="tel" placeholder="Phone Number" minlength="8" maxlength="8" [name]="'phone' + i"
                           [required]="true"
                           class="form-control"
                           [(ngModel)]="phone.phone">
                    <em
                            *ngIf="newCustomerForm.submitted && newCustomerForm.controls?.customerInfo?.controls['phone' + i]?.invalid"><i
                            class="fa fa-exclamation-triangle"></i>This field is required</em>
                    <a *ngIf="i > 0" style="display:block;text-align: right" (click)="removePhone(i)"><i
                            class="fa fa-close"></i>Remove</a>
                </div>
            </div> -->

            <!-- <div class="col-md-6 uk-margin-small-bottom">
                <a (click)="addNewPhone()">Add New Phone</a>
            </div>

            <div class="form-group uk-margin-small-top col-xs-12">
                <label>Remark</label>
                <textarea class="form-control" placeholder="Some Descriptions..." [(ngModel)]="newCustomer.remarks"
                          name="remarks"></textarea>
            </div> -->
        </div>
    </div>
    <!-- <div class="uk-margin-large-bottom row">
        <div class="col-md-offset-9 col-md-3">
            <button class="btn btn-dark" type="button" style="float: right; width: 150px" *ngIf="existedCustomerData"
                    (click)="saveCustomerInfo(newCustomer)"
                    [disabled]="newCustomerForm.controls?.customerInfo?.invalid">
                Save
            </button>
        </div>
    </div> -->

    <p-progressSpinner class="loading-spinner" [hidden]="!toggleLoadingLocation"></p-progressSpinner>

    <ul uk-accordion="collapsible: false" class="accordion-header uk-margin-small-top" [hidden]="toggleLoadingLocation">
        <li *ngFor="let location of locationObj; let i = index" [ngModelGroup]="'location' + i">
            <h4 class="uk-accordion-title sub-title" href="#">{{'Address ' + (i+1)}} ({{location.title ? location.title:
                ' --
                '}})</h4>
            <!--<div class="uk-accordion-content">-->
            <div class="uk-accordion-content">
                <div class="row">
                    <div class="form-group halfInput col-md-6 col-xs-12">
                        <label>#PACI</label>
                        <input placeholder="#PACI" type="text" (keyup)="getByPaci(i)"
                               [required]="!location.governorate || !location.area || !location.block || !location.street"
                               [name]="'PACI' + i" [(ngModel)]="location.paciNumber"
                               class="form-control">
                        <em
                                *ngIf="newCustomerForm.submitted && newCustomerForm.controls['location' + i].controls['PACI' + i].invalid"><i
                                class="fa fa-exclamation-triangle"></i>This field is required</em>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group halfInput col-md-6 col-xs-12">
                        <label>{{'LOCATION.GOVERNORATE'|translate}} </label>
                        <select [required]="!location.paciNumber" [(ngModel)]="location.governorate"
                                [name]="'governorate' + i"
                                class="form-control" (change)="getAreas(location.governorate)">
                            <option [value]="undefined">-- Select Governorate --</option>
                            <option *ngFor="let t of governorates" [value]="t.name">{{t.name}}</option>
                        </select>
                        <em
                                *ngIf="newCustomerForm.submitted && newCustomerForm.controls['location' + i].controls['governorate' + i].invalid"><i
                                class="fa fa-exclamation-triangle"></i>This field is required</em>
                    </div>

                    <div class="form-group halfInput col-md-6 col-xs-12">
                        <label>{{'LOCATION.AREA'|translate}} </label>
                        <select [required]="!location.paciNumber" [disabled]="!location.governorate" [compareWith]="compareByOptionId"
                                (change)="getBlocks(location)"
                                [(ngModel)]="location.area"
                                class="form-control" [name]="'area' + i">
                            <option [value]="undefined">-- Select Area --</option>
                            <option *ngFor="let a of areas" [value]="a.name">{{a.name}}</option>
                        </select>
                        <em
                                *ngIf="newCustomerForm.submitted && newCustomerForm.controls['location' + i].controls['area' + i].invalid"><i
                                class="fa fa-exclamation-triangle"></i>This field is required</em>
                    </div>

                    <div class="form-group halfInput col-md-6 col-xs-12">
                        <label>{{'LOCATION.BLOCK'|translate}} </label>
                        <select [required]="!location.paciNumber" [compareWith]="compareByOptionId"
                                [disabled]="!location.area"
                                (change)="getStreets(location)"
                                [(ngModel)]="location.block"
                                class="form-control" [name]="'block' + i">
                            <option [value]="undefined">-- Select Block --</option>
                            <option *ngFor="let b of blocks" [value]="b.name">{{b.name}}</option>
                        </select>
                        <em
                                *ngIf="newCustomerForm.submitted && newCustomerForm.controls['location' + i].controls['block' + i].invalid"><i
                                class="fa fa-exclamation-triangle"></i>This field is required</em>
                    </div>

                    <div class="form-group halfInput col-md-6 col-xs-12">
                        <label>{{'LOCATION.STREET'|translate}} </label>
                        <select [required]="!location.paciNumber" [compareWith]="compareByOptionId"
                                [disabled]="!location.block"
                                [(ngModel)]="location.street"
                                class="form-control" [name]="'street' + i">
                            <option [value]="undefined"> -- Select Street --</option>
                            <option *ngFor="let s of streets" [value]="s.name">{{s.name}}</option>
                        </select>
                        <em
                                *ngIf="newCustomerForm.submitted && newCustomerForm.controls['location' + i].controls['street'+i].invalid"><i
                                class="fa fa-exclamation-triangle"></i>This field is required</em>
                    </div>

                    <div class="form-group halfInput col-md-6 col-xs-12">
                        <label>{{'LOCATION.TITLE'|translate}}</label>
                        <input type="text" required [name]="'title' + i" [(ngModel)]="location.title"
                               class="form-control" placeholder="Title, for example (home)">
                        <em
                                *ngIf="newCustomerForm.submitted && newCustomerForm.controls['location' + i].controls['title' + i].invalid"><i
                                class="fa fa-exclamation-triangle"></i>This field is required</em>
                    </div>

                    <div class="form-group halfInput col-md-12 col-xs-12">
                        <label for="note">{{'LOCATION.LOCDESC'|translate}} </label>
                        <textarea rows="4" class="form-control" id="note" [name]="'AddressNote' + i"
                                  [(ngModel)]="location.addressNote" placeholder="Add note ..."></textarea>
                    </div>

                </div>
                <button style="float: right" class="btn btn-light" *ngIf="existedCustomerData" type="button"
                        [disabled]="newCustomerForm.controls['location'+i]?.invalid"
                        (click)="saveLocation(location)">{{'SHARED.CONFIRM'|translate}}
                </button>
            </div>
            <!--<pre>{{location | json}}</pre>-->
        </li>
    </ul>

    <div class="row uk-margin-bottom" *ngIf="existedCustomerData">
        <div class="col-md-4">
            <a (click)="addNewLocation()" style="text-decoration: underline">{{'LOCATION.NEW_LOCATION'|translate}}</a>
        </div>
    </div>

    <div style="float: right">
        <button class="btn btn-default" *ngIf="!existedCustomerData" (click)="closeForm()" type="button">{{'SHARED.clos'|translate}}</button>
        <button class="btn btn-dark" type="submit" *ngIf="!existedCustomerData">{{'CUSTOMER.savCustData'|translate}}</button>
    </div>
</form>
