.uk-card-header {
    padding: 5px 15px !important;
}
.uk-card-body {
    padding: 20px 15px !important;
}
.orderTitle{
    color: brown;
}
html body .modal-content {
    width: 200% !important;
}
.btn-dark{
    width: 20%;
}

@media print {
    * {
        box-sizing: border-box !important;
    }
    html body .uk-card {
        padding-top: 5px !important;
        padding-bottom: 0 !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        border: 1px solid #f0f0f0 !important;
        padding-right: 2% !important;
      }
      html body .uk-card.uk-card-default {
        box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15) !important;
      }
      .uk-card-default {
        background: #fff !important;
        color: #666 !important;
        box-shadow: 0 5px 15px rgba(0,0,0,.08) !important;
    }
    .uk-card {
        position: relative;
        box-sizing: border-box !important;
        transition: box-shadow .1s ease-in-out !important;
    }
    .uk-card-header{
        padding: 0px 15px !important;
    }
    .uk-card-default .uk-card-header {
        border-bottom: 1px solid #e5e5e5 !important;
    }
    .orderTitle{
        color: brown;
    }
    .uk-card-body{
        padding: 0px 15px !important;
    }
    .col-md-6 {
        width: 50% !important;
    }
}