<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>

<h3 class="page-title">{{'ORDER.viwAllOrdr'| translate}}</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div class="container">

  <app-search (searchCanceled)="getAllOrders()" [hidden]="toggleLoading" (searchValue)="searchByValue($event)" [placholder]="'Please type contract number or Area to search ...'"></app-search>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <p-messages [(value)]="bigMessage"></p-messages>
    </div>
  </div>
  <div *ngIf="!toggleLoading" class="uk-card uk-card-default uk-animation-slide-top-small">

    <!-- <app-order-table [orders]="allOrders"></app-order-table> -->

    <div class="col-md-offset-1">
      <h4 class="sub-title">{{'ORDER.lstOfOrdrs'|translate}}</h4>
    </div>
    <div class="row" style="text-align:left !important">
      <div class="col-md-offset-1 col-md-10">

        <ngx-datatable class="material expandable" [rows]="allOrders" [columnMode]="'force'" [columns]="[]" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'50'" [scrollbarH]="true" [selected]="[]" [selectionType]="'falsey'" [count]="page.count"
          [offset]="page.offset" [limit]="page.limit" (page)="pageCallback($event)" [externalPaging]="true" [rowHeight]="'50'">
                

      <ngx-datatable-column [width]='100' prop="code" name="{{'ORDER.ordr#'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='155' prop="customer.name_en" name="customer"></ngx-datatable-column>

      <!-- <ngx-datatable-column [width]='100' prop="location.area"
                            name="{{'LOCATION.NAME'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="orderStatus.name" name="{{'ORDER.STATUS'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="orderProblem.name" name="{{'ORDER.problm'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="orderType.name" name="{{'ORDER.ordrType'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="orderPriority.name" name="{{'ORDER.ordrPriroty'|translate}}"></ngx-datatable-column> -->

      <ngx-datatable-column [width]='1' prop="startDate" name="{{'CONTRACT.START'|translate}}">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date: 'd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]='1' prop="endDate" name="{{'CONTRACT.End'|translate}}">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date: 'd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column [width]='200' name="{{'ORDER.edtRemov'|translate}}">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <p-splitButton label="{{'SHARED.EDIT'|translate}}" appendTo="body" icon="fa fa-pencil-square-o"
                         (onClick)="edit(row)" (onDropdownClick)="setActiveRow(row)"
                         [model]="buttonsList" styleClass="ui-button-warning"></p-splitButton>
        </ng-template>
      </ngx-datatable-column>

        </ngx-datatable>

      </div>

    </div>

  </div>
</div>
