
<div class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="row">
    		<div class="col-md-12 widget">
                {{'FOOTER' | translate}}
            </div>
        </div>
    </div>
</div>
