<div class="uk-card uk-card-default">

  <div class="container">
    <h4 class="sub-title">{{'REPORT.ordrReport'|translate}}</h4>
  </div>

  <app-order-filter (filteredOrders)="applyFilter($event)" [type]="'report'" (resetFilter)="getAllOrdersByDis()"
                    (orderProgressMode)="applyOrderProgressMode($event)"></app-order-filter>

  <div class="container">
    <div class="col-md-12">

      <ngx-datatable class="material expandable" [rows]="orders" [columnMode]="'force'" [columns]="[]"
                     [headerHeight]="50"
                     [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10"
                     [selected]="[]"
                     [selectionType]="'falsey'">

        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="false"
                              [checkboxable]="false">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="order.code" name="{{'CONTRACT.cod'|translate}}"></ngx-datatable-column>

        <ngx-datatable-column [width]='100' prop="createdDateView" name="{{'SHARED.CREATED_DATE'|translate}}"></ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.orderStatus.name" name="{{'ORDER.STATUS'|translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.orderType.name" name="{{'SHARED.TYPE'|translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.orderPriority.name" name="{{'ORDER.PRIORITY'|translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.orderProblem.name" name="{{'ORDER.problm'|translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.customer.name_en" name="{{'CUSTOMER.NAME'|translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="phoneView" name="{{'CUSTOMER.custPhone'|translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.location.governorate" name="{{'LOCATION.GOVERNORATE'|translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.location.area" name="{{'LOCATION.AREA'|translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='50' prop="order.location.block" name="{{'LOCATION.BLOCK'|translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.location.street" name="{{'LOCATION.STREET'|translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.dispatcherName" name="{{'CUSTOMER.dispchrNam'|translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='120' prop="order.technicanName" name="{{'CUSTOMER.techNam'|translate}}">
        </ngx-datatable-column>

        <ngx-datatable-column [width]='150' prop="" name="Signature">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
            <a style="display: inline" target="_blank"
               [href]="row?.order?.signatureContractURL" [hidden]="!row.order.signatureContractURL">Signature Image</a>
            <em [hidden]="row.order.signatureContractURL">(Not available)</em>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]='150' prop="" name="Attachements">
          <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
            <a style="display: inline" target="_blank"
               [href]="row?.order?.signatureURL" [hidden]="!row.order.signatureURL">Attached Image</a>
            <em [hidden]="row.order.signatureURL">(Not available)</em>
          </ng-template>
        </ngx-datatable-column>

        <!--************** ORDER PROGRESS INFO **************-->

        <ngx-datatable-column *ngIf="orderProgressMode" [width]='120' prop="orderProgress.progressStatus.name"
                              name="Order Progress">
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="orderProgressMode" [width]='120' prop="orderProgress.createdDateView"
                              name="Progress Date">
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="orderProgressMode" [width]='120' prop="orderProgress.createdBy.userName"
                              name="Progress Creator">
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="orderProgressMode" [width]='150' prop="orderProgress.technicanName"
                              name="Progress by Tecnician">
        </ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>
</div>
