<p-growl [(value)]="modalMessage" [life]="5000"></p-growl>

<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" *ngIf="!notificationOrder">{{'ORDER.EDIT_ORDER'|translate}} {{data?.orderNumber}}</h4>
  <h4 class="modal-title" *ngIf="notificationOrder">{{'ORDER.VIEW_ORDER'|translate}}{{data?.code}}</h4>
</div>

<div class="modal-body">

  <app-generate-edit-order-form [existedOrder]="data" [disabled]="notificationOrder" (close)="activeModal.dismiss()"
                                (order)="updateOrder($event)"></app-generate-edit-order-form>
</div>


