<p-progressSpinner *ngIf="toggleLoading" class="loading-spinner"></p-progressSpinner>

<div class="container uk-animation-slide-top-small uk-card-default uk-margin-top" *ngIf="!toggleLoading">

  <ul class="uk-child-width-expand tabs" uk-tab *ngIf="customerId">
    <li class="uk-active" (click)="setActiveTab('info')"><a>{{'CUSTOMER.custInfo'|translate}}</a></li>
    <li (click)="setActiveTab('contracts')"><a >{{'SIDBAR.contrct'|translate}}</a></li>
    <li (click)="setActiveTab('orders')"><a >{{'SIDBAR.ordrs'|translate}}</a></li>
    <!-- <li (click)="setActiveTab('calls')"><a href="#">Calls History</a></li> -->
  </ul>

  <app-add-new-customer [alreadyExisted]="true" *ngIf="!customerId"></app-add-new-customer>

  <div *ngIf="customerId">

    <!--/*Customer Info form goes here*/-->

    <app-add-edit-customer *ngIf="activeTab == 'info'" [existedCustomerData]="existedCustomerData"></app-add-edit-customer>

    <!-- <app-existed-customer-contracts [id]="customerId" *ngIf="activeTab == 'contracts'"></app-existed-customer-contracts> -->

    <div *ngIf="activeTab == 'contracts'" class="uk-card uk-card-default">
      <div class="row" style="text-align:left !important">
        <div class="col-md-12" style="margin-left: 12px;">

          <ngx-datatable class="material expandable" [rows]="existedContracts" [columnMode]="'force'" [columns]="[]" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [selected]="[]" [selectionType]="'falsey'" [externalPaging]="false"
            [rowHeight]="'50'" [limit]="10">


            <ngx-datatable-column [width]='60' prop="cont_no" name="{{'CONTRACT.cont#'|translate}}"></ngx-datatable-column>
            <ngx-datatable-column [width]='120' prop="contract_type" name="{{'CONTRACT.TYPE'|translate}}"></ngx-datatable-column>
            <!-- <ngx-datatable-column [width]='120' prop="owner_name" name="{{'CUSTOMER.NAME'|translate}}"></ngx-datatable-column>
            <ngx-datatable-column [width]='120' prop="civil_id" name="{{'CUSTOMER.CIVIL_ID'|translate}}"></ngx-datatable-column>
            <ngx-datatable-column [width]='120' prop="tenants_passport" name="{{'CUSTOMER.Pasport'|translate}}"></ngx-datatable-column> -->

            <ngx-datatable-column [width]='180' prop="owner_name" name="{{'CUSTOMER.ownrNam'|translate}}"></ngx-datatable-column>
            <ngx-datatable-column [width]='220' prop="real_name" name="{{'CUSTOMER.relNam'|translate}}"></ngx-datatable-column>

            <ngx-datatable-column [width]='90' prop="from_dt" name="{{'CONTRACT.START'|translate}}"></ngx-datatable-column>

            <ngx-datatable-column [width]='90' prop="to_date" name="{{'CONTRACT.End'|translate}}"></ngx-datatable-column>

            <!-- <ngx-datatable-column [width]='60' prop="amount" name="{{'SHARED.PRICE'|translate}}"></ngx-datatable-column> -->


            <!-- <ngx-datatable-column [width]='150' prop="" name="Attachements">
              <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
      
                <a style="display: inline" target="_blank" *ngFor="let u of row.contractFiles"
                   [href]="u.url">{{u.fileName}}, </a>
              </ng-template>
            </ngx-datatable-column> -->

            <!-- <ngx-datatable-column [width]='150' prop="" name="Estimation Reference">
              <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
                <a
                  style="display: inline; font-weight: bold;"
                  (click)="routeToEstimation(row?.contractQuotations[0]?.quotation?.estimation?.id)">{{row?.contractQuotations[0]?.quotation?.estimation?.refNumber}}</a>
              </ng-template>
            </ngx-datatable-column> -->

            <ngx-datatable-column [width]='230' prop="id" name="{{'CONTRACT.actn'|translate}}">
              <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

                <p-splitButton label="{{'CONTRACT.cretOrder'|translate}}" appendTo="body" icon="fa fa-check" (onClick)="routeToGenerateOrder(row.contract_id)"
                  (onDropdownClick)="setActiveRow(row)" [model]="buttonsList"></p-splitButton>

              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>

        </div>

      </div>
    </div>

    <div *ngIf="activeTab == 'orders'" class="uk-card uk-card-default">
      <!-- <app-order-table [orders]="existedOrders"></app-order-table> -->
      <div class="row" style="text-align:left !important">
        <div class="col-md-12" style="margin-left: 12px;">

          <ngx-datatable class="material expandable" [rows]="existedOrders" [columnMode]="'force'" [columns]="[]" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [selected]="[]" [selectionType]="'falsey'" [externalPaging]="false"
            [rowHeight]="'50'" [limit]="10">


            <ngx-datatable-column [width]='100' prop="code" name="{{'ORDER.ordr#'|translate}}"></ngx-datatable-column>

            <!-- <ngx-datatable-column [width]='75' prop="contractNumber" name="Contract Nmber"></ngx-datatable-column> -->

            <ngx-datatable-column [width]='100' prop="location.area" name="{{'LOCATION.NAME'|translate}}"></ngx-datatable-column>

            <ngx-datatable-column [width]='75' prop="orderStatus.name" name="{{'ORDER.STATUS'|translate}}"></ngx-datatable-column>

            <ngx-datatable-column [width]='75' prop="orderProblem.name" name="{{'ORDER.problm'|translate}}"></ngx-datatable-column>

            <ngx-datatable-column [width]='75' prop="orderType.name" name="{{'ORDER.ordrType'|translate}}"></ngx-datatable-column>

            <ngx-datatable-column [width]='75' prop="orderPriority.name" name="{{'ORDER.ordrPriroty'|translate}}"></ngx-datatable-column>

            <ngx-datatable-column [width]='50' prop="startDate" name="{{'CONTRACT.START'|translate}}"></ngx-datatable-column>

            <ngx-datatable-column [width]='50' prop="endDate" name="{{'CONTRACT.End'|translate}}"></ngx-datatable-column>


            <ngx-datatable-column [width]='140' name="{{'ORDER.edtRemov'|translate}}">
              <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
                <p-splitButton label="{{'SHARED.EDIT'|translate}}" appendTo="body" icon="fa fa-pencil-square-o" (onClick)="edit(row)" (onDropdownClick)="setActiveRow(row)"
                  [model]="buttonsList" styleClass="ui-button-warning"></p-splitButton>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>

        </div>

      </div>
    </div>

    <div *ngIf="activeTab == 'calls'" class="uk-card uk-card-default">
      <app-call-table [calls]="existedCalls"></app-call-table>
    </div>
  </div>

</div>