<form #dateForm="ngForm" style="margin-left:-8%;margin-top: 5px;">
  <div class="form-row">
    <div class="form-group col-md-5">
      <label style="display: block">{{'REPORT.SFDate'| translate}}:</label>
      <p-calendar name="startDate" (onSelect)="emitStartDate()" [(ngModel)]="date.startDate" [showIcon]="true" readonlyInput="true"></p-calendar>

      <em style="display: block" *ngIf="submitted && !date.startDate && required"><i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir'|
        translate}}</em>
    </div>

    <div class="form-group pull-rigth">
      <label style="display:block">{{'REPORT.EADate'| translate}}:</label>
      <p-calendar name="endDate" (onSelect)="emitEndDate()" [(ngModel)]="date.endDate" [showIcon]="true" readonlyInput="true"></p-calendar>
      <em style="display: block" *ngIf="submitted && !date.endDate && required"><i class="fa fa-exclamation-triangle"></i>{{'REPORT.fildRequir'|
        translate}}</em>
    </div>
  </div>
  <!--<button type="submit">submit test</button>-->
</form>