.StaticBack {
  /* background-color: rgba(0,0,0,0.6); */
  min-height: 445px;
}

.alertInfo {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, -50%);
  top: 30%;
  z-index: 1500;
  width: 30%;
}

.BackImg {

  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(./../assets/Images/BackGround2.jpg);*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100% 100%;*/
  background-color: rgb(248, 248, 248);
  color: white;
  padding-bottom: 50px;
}

.mt-20 {
  margin-top: 20px;
}

/* ------------------ Side Menue ---------------- */

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #02466b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:not(:first-child):hover {
  color: #818181;
  background-color: aliceblue;
  width: 250px;
}

.sidenav-item {
  text-transform: uppercase;
}

.sidenav a:not(:first-child) {
  width: 250px;
}

.sidenav .closebtn {
  position: absolute;
  top: -10px;
  left: 4px;
  font-size: 36px;
}

#main {
  transition: margin-right .5s;
  padding: 0px;
  margin-right: 250px;
}

.menueIcon {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 30px;
  cursor: pointe;
  color: #02466b;
}

.IconMenue {
  margin: 0px 10px;
}

.mtb-10 {
  margin: 10px 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.form-control[disabled] {
  cursor: default;
}
