<div *ngIf="type == 'report' || type == 'order board'" class="beforeFilterTemp">
</div>
<div class="col-md-12" style="margin-left:5px;">
  <form #filterForm="ngForm" class="filter-form well" (ngSubmit)="applyFilter()" style="margin-bottom:2%">

    <div class="sections-container">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{'REPORT.ordeNo'|translate}}</label>
            <input class="form-control" placeholder="Order NO" name="orderNo" [(ngModel)]="filter.orderNo">
          </div>
        </div>

        <div class="col-md-3">
          <label>{{'ORDER.STATUS'|translate}}</label>
          <p-multiSelect name="status " [options]="allStatus" [(ngModel)]="filter.status" optionLabel="name"></p-multiSelect>
        </div>

        <div class="col-md-3">
          <label>{{'ORDER.problm'|translate}}</label>
          <p-multiSelect name="problem" [options]="allProblems" [(ngModel)]="filter.problems" optionLabel="name"></p-multiSelect>
        </div>

        <div class="col-md-3" *ngIf="type!='order board'">
          <label>{{'CUSTOMER.dispchers'|translate}}</label>
          <p-multiSelect name="dispatchers" [options]="allDispatchers" [(ngModel)]="filter.dispatchers" optionLabel="userName"></p-multiSelect>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3" *ngIf="type!='order board'">
          <label>{{'CUSTOMER.techins'|translate}}</label>
          <p-multiSelect name="tecs" [options]="tecs" [(ngModel)]="filter.tecs" optionLabel="userName"></p-multiSelect>
        </div>

        <app-date-from-to [startDateLable]="'Created Date Start'" [endDateLable]="'Created Date End'" class="filter-form-section" class="col-md-6"
          [required]="false" [submitted]="filterForm.submitted" (startDate)="setStartDateFrom($event)" (endDate)="setStartDateTo($event)"></app-date-from-to>

        <div class="col-md-2" *ngIf="type == 'report'" style="margin-top:3%;">
          <!-- <label>{{'ADMN.ORDRPROGRS'|translate}}</label> -->
          <input type="checkbox" class="uk-checkbox" name="hasOrderProgress" [(ngModel)]="filter.hasOrderProgress" 
            [disabled]="!filter.orderNo || filter.status || !filter.problems || !filter.dispatchers">  {{'ADMN.ORDRPROGRS'|translate}}
        </div>
      </div>
    </div>

    <div class="buttons-container text-center">

      <button *ngIf="type == 'report'" (click)="exportCsv()" type="button" class="btn btn-light report-button" [disabled]="!reportOrders.length">{{'CUSTOMER.Export'|translate}}
      </button>

      <button *ngIf="type == 'map'" (click)="emitTodayOrders()" type="button" class="btn btn-light">{{'ORDER.ordrToday'|translate}}
      </button>

      <button *ngIf="type == 'report' || type == 'order board'" type="submit" class="btn btn-light report-button">
        {{'SHARED.FILTER'|translate}}
      </button>

      <button [disabled]="checkFilter()" (click)="applyResetFilter()" type="button" class="btn btn-dark report-button">{{'SHARED.RESET'|translate}}</button>
    </div>
  </form>
</div>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>