<div class="order-card uk-card uk-card-default">

        <label [for]="order?.id" class="clickable">
                <h4 class="order-number"><input [id]="order?.id" *ngIf="bulkAssignMode" (change)="selectOrder()" type="checkbox">#{{order?.code}}
                </h4>
                <h4 *ngIf="order.isPrevintive == true" class="order-number" style="color:tomato"><input [id]="order?.id" *ngIf="bulkAssignMode" (change)="selectOrder()"
                                type="checkbox">#{{order?.code}}
                </h4>

        </label>

        <h4 class="name"><label>{{'SHARED.NAME'|translate}}</label>: {{order?.customer?.name_en}}</h4>

        <h4><label>{{'REPORT.area'|translate}}</label>: {{order?.location?.area}}</h4>
        <h4><label>{{'ORDER.PRIORITY'|translate}}</label>: {{order?.orderPriority?.name}}</h4>
        <!--<h4>priority</h4>-->

        <div *ngIf="currentDetailedOrderId == order?.id" class="hidden-details uk-animation-slide-top-small">
                <h4><label>{{'ORDER.STATUS'|translate}}</label>: {{order?.orderStatus?.name}}</h4>
                <h4><label>{{'ORDER.problm'|translate}}</label>: {{order?.orderProblem?.name}}</h4>
                <!--<h4>status</h4>-->
                <h4><label>{{'SHARED.TYPE'|translate}}</label>: {{order?.orderType?.name}}</h4>
                <!--<h4>type</h4>-->
                <h4><label>{{'Dispcher.strt'|translate}}</label>: {{order?.startDateView}}</h4>
                <h4><label>{{'Dispcher.end'|translate}}</label> :{{order?.endDateView}}</h4>
                <h4 *ngIf="order?.note"><label>{{'ADMN.note'|translate}}</label>: {{order?.note}}</h4>
        </div>

        <button (click)="setCurrentDetailedOrderId(null)" *ngIf="currentDetailedOrderId == order?.id" class="more-button"><i
                        class="fa fa-minus"></i> {{'Dispcher.lesDetils'|translate}}
        </button>

        <button (click)="setCurrentDetailedOrderId(order.id)" *ngIf="currentDetailedOrderId != order?.id" class="more-button"><i
                        class="fa fa-plus"></i> {{'Dispcher.morDetils'|translate}}
        </button>

        <div class="button-group">
                <button class="btn-light" (click)="openEditOrderModal(order)" pTooltip="Edit Order" tooltipPosition="top"><i
                                class="fa fa-pencil-square-o"></i></button>

                <button class="btn-light" pTooltip="Set Visit time" tooltipPosition="top" (click)="openSetTimeModal(order)"><i
                                class="fa fa-clock-o" aria-hidden="true"></i>
                </button>

                <button class="btn-light" (click)="openTransfer(order)" pTooltip="Transfer Order" tooltipPosition="top"><i
                                class="fa fa-exchange" aria-hidden="true"></i>
                </button>
                <button class="btn-light" (click)="openOrderProgressModal(order)" pTooltip="Order progress" tooltipPosition="top"><i
                                class="fa fa-tasks" aria-hidden="true"></i>
                </button>
        </div>

</div>