<p-growl [(value)]="cornerMessage" life="5000"></p-growl>
<div class="col-md-offset-1">
  <h4 class="sub-title">{{'ORDER.lstOfOrdrs'|translate}}</h4>
</div>
<div class="row" style="text-align:left !important">
  <div class="col-md-offset-1 col-md-10">

    <ngx-datatable class="material expandable" [rows]="orders.reverse()" [columnMode]="'force'" [columns]="[]"
                   [headerHeight]="50"
                   [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="10"
                   [selected]="[]"
                   [selectionType]="'falsey'">

      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                            [resizeable]="false" [headerCheckboxable]="false"
                            [checkboxable]="false">
      </ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="code" name="{{'ORDER.ordr#'|translate}}"></ngx-datatable-column>

      <!--<ngx-datatable-column [width]='75' prop="contractNumber" name="Contract Nmber"></ngx-datatable-column>-->

      <ngx-datatable-column [width]='100' prop="location.area"
                            name="{{'LOCATION.NAME'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="orderStatus.name" name="{{'ORDER.STATUS'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="orderProblem.name" name="{{'ORDER.problm'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="orderType.name" name="{{'ORDER.ordrType'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="orderPriority.name" name="{{'ORDER.ordrPriroty'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="startDateView" name="{{'CONTRACT.START'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="endDateView" name="{{'CONTRACT.End'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="price" name="{{'SHARED.PRICE'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='120' name="{{'ORDER.edtRemov'|translate}}">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <p-splitButton label="{{'SHARED.EDIT'|translate}}" appendTo="body" icon="fa-pencil-square-o"
                         (onClick)="edit(row)" (onDropdownClick)="setActiveRow(row)"
                         [model]="buttonsList" styleClass="ui-button-warning"></p-splitButton>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>
</div>
