<div class="row">
  <p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

  <div class="col-md-12" *ngIf="!toggleLoading">

    <ngx-datatable class="material expandable uk-animation-slide-top-small" [rows]="users" [columnMode]="'force'"
                   [columns]="[]"

                   [headerHeight]="50"
                   [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="true" [limit]="15"
                   [selected]="[]">

      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                            [resizeable]="false" [headerCheckboxable]="false"
                            [checkboxable]="false">
      </ngx-datatable-column>

      <!--<ngx-datatable-column [width]='50' prop="id" name="ID"></ngx-datatable-column>-->

      <ngx-datatable-column [width]='150' prop="name" name="{{'SHARED.NAME'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="phoneNumber" name="{{'ADD_NEW_CUSTOMER.PHONE'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="userName" name="{{'LOGIN.USERNAME'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="email" name="{{'SHARED.EMAIL'|translate}}"></ngx-datatable-column>

      <ngx-datatable-column [width]='75' prop="id" name="{{'SHARED.EDIT'|translate}}">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

          <button class="btn btn-light" (click)="edit(row)">
            <i class="fa fa-pencil-square-o"></i>{{'SHARED.EDIT'|translate}}
          </button>

        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]='100' prop="id" name="Remove">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <button class="btn btn-danger" (click)="remove(row)">
            <i class="fa fa-times" aria-hidden="true"></i>
            {{'SHARED.REMOVE'|translate}}
          </button>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>

<div class="row" *ngIf="!toggleLoading">
  <div class="col-md-3 col-md-offset-9 add-button">
    <button class="btn btn-dark btn-add" (click)="add()"><i class="fa fa-plus-circle"></i> Add New {{type}}</button>
  </div>
</div>
