/* line 3, search.component.scss */
.search-section {
  margin-bottom: 15px;
  margin-top: 25px;
}
/* line 6, search.component.scss */
.search-section .search-form {
  text-align: center;
}
/* line 8, search.component.scss */
.search-section .search-form .search-bar-container {
  position: relative;
}
/* line 11, search.component.scss */
.search-section .search-form .cancel-button {
  position: absolute;
  top: 25%;
  left: 25px;
  background-color: lightgray;
  border: none;
  padding: 0 10px;
  height: 50%;
  border-radius: 25px;
  transition: 0.5s all;
}
/* line 21, search.component.scss */
.search-section .search-form .cancel-button:hover {
  transition: 0.5s all;
  background-color: #f9cda4;
  color: #02466b;
}
/* line 27, search.component.scss */
.search-section .search-form .seachBar {
  margin-bottom: 0;
  margin-top: 0;
  display: inline;
  height: 49px;
  text-align: center;
  font-size: 1em;
}
/* line 34, search.component.scss */
.search-section .search-form .seachBar::-webkit-input-placeholder {
  text-align: center;
}
/* line 38, search.component.scss */
.search-section .search-form .btn-add {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  background-color: #f28a2c;
  color: white;
  border: 2px solid #f28a2c;
  margin-top: 0;
  transition: 0.5s all;
}
/* line 48, search.component.scss */
.search-section .search-form .btn-add:hover {
  border: 2px solid lightgrey;
  color: white;
  transition: 0.5s all;
}
/* line 56, search.component.scss */
.search-section p {
  margin-top: 15px;
  color: red;
  font-size: 1.2em;
}
