<p-growl [(value)]="msg" [life]="5000"></p-growl>

<h3 class="page-title">{{'ORDER.gnertOrder'|translate}}</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div *ngIf="!toggleLoading" class="container uk-animation-slide-top-small">

  <!--<div class="uk-card uk-card-default">-->
    <!--<app-customer-details [customerDetails]="contractDetails.customer"></app-customer-details>-->
  <!--</div>-->

  <div class="uk-card uk-card-default">

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h4 class="sub-title">{{'CONTRACT.contrcrDetails'|translate}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <p><b>{{'CONTRACT.NUMBER'|translate}}:</b> {{contractDetails.cont_no}}</p>
      </div>
      <div class="col-md-offset-1 col-md-5">
        <p><b>{{'CONTRACT.UNIT'|translate}}:</b> {{contractDetails.unit_no}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <p><b>{{'REPORT.SFDate'|translate}}:</b> {{contractDetails.from_dt}}</p>
      </div>
      <div class="col-md-offset-1 col-md-5">
        <p><b>{{'REPORT.EADate'|translate}}:</b> {{contractDetails.to_date}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <p><b>{{'CUSTOMER.CIVIL_ID'|translate}}:</b> {{contractDetails.civil_id}}</p>
      </div>
      <div class="col-md-offset-1 col-md-5">
        <p><b>{{'CUSTOMER.tenantPass'|translate}}:</b> {{contractDetails.tenants_passport}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <p><b>{{'CUSTOMER.tenantName'|translate}}:</b> {{contractDetails.tenants_name}}</p>
      </div>
      <div class="col-md-offset-1 col-md-5">
        <p><b>{{'CUSTOMER.tenantNatuion'|translate}}:</b> {{contractDetails.tenants_nationality}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <p><b>{{'CUSTOMER.ownrNam'|translate}}:</b> {{contractDetails.owner_name}}</p>
      </div>
      <div class="col-md-offset-1 col-md-5">
        <p><b>{{'SHARED.PRICE'|translate}}:</b> {{contractDetails.amount}}</p>
      </div>
    </div>

  </div>

  <div class="uk-card uk-card-default">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h4 class="sub-title">{{'ORDER.ORDER_DETAILS'|translate}}</h4>
      </div>
    </div>
    <div class="row">

      <p-progressSpinner class="loading-spinner" *ngIf="toggleOrderSectionLoading"></p-progressSpinner>

      <div class="col-md-offset-1 col-md-10">

        <app-generate-edit-order-form [hidden]="toggleOrderSectionLoading" [customerId]="customerId" (order)="generateOrder($event)"></app-generate-edit-order-form>

      </div>
    </div>
  </div>
</div>
