<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{header}}</h4>
</div>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<form *ngIf="!toggleLoading" autoComplete="off" #editForm="ngForm" autocomplete="off" (ngSubmit)="editForm.valid && close(data)">

  <div class="modal-body">

    <div class="form-group">
      <label>First Name :</label>
      <input type="text" class="form-control" placeholder="First Name..." name="firstName" [(ngModel)]="data.firstName"
             required>
      <em
        *ngIf="editForm.submitted && editForm.controls?.firstName.invalid"><i
        class="fa fa-exclamation-triangle"></i>This
        field is required!</em>
    </div>

    <div class="form-group">
      <label>Middle Name :</label>
      <input type="text" class="form-control" placeholder="Middle Name ..." name="middleName"
             [(ngModel)]="data.middleName">
    </div>

    <div class="form-group">
      <label>Last Name :</label>
      <input type="text" class="form-control" placeholder="Last Name..." name="lastName" [(ngModel)]="data.lastName">
    </div>

    <div class="form-group">
      <label>Phone :</label>
      <input type="tel" step="1" minlength="8" class="form-control" placeholder="Please type value..."
             name="phoneNumber" maxlength="8"
             [(ngModel)]="data.phoneNumber"
             required>
      <em *ngIf="editForm.submitted && editForm.controls?.phoneNumber.invalid"><i
        class="fa fa-exclamation-triangle"></i>This
        field is required and contains 8 characters!</em>
    </div>

    <div class="form-group">
      <label>User Name:</label>
      <input type="text" class="form-control" placeholder="User Name..." name="userName" [(ngModel)]="data.userName"
             required>
      <em *ngIf="editForm.submitted && editForm.controls?.userName.invalid"><i
        class="fa fa-exclamation-triangle"></i>This
        field is required!</em>
    </div>


    <div class="row">
      <div class="form-group col-md-6">
        <label>User Role</label>
        <select class="form-control" name="roleNames" [(ngModel)]="data.roleNames"
                required>
          <option [value]="undefined" *ngIf="!data.roleNames?.length">-- Choose User Role --</option>
          <option [value]="role?.name" *ngFor="let role of roles">{{role.name}}</option>
        </select>
        <em *ngIf="editForm.submitted && editForm.controls?.roleNames.invalid"><i
          class="fa fa-exclamation-triangle"></i>This field is required</em>
      </div>
    </div>


    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
    <input style="display:none" type="text" name="email"/>
    <input style="display:none" type="password" name="password"/>


    <div class="form-group">
      <label>Email :</label>
      <input type="email" class="form-control" placeholder="email..." name="email" [(ngModel)]="data.email" required>
      <em *ngIf="editForm.submitted && editForm.controls?.email.invalid"><i
        class="fa fa-exclamation-triangle"></i>This
        field is required!</em>
      <em *ngIf="data.email && !(data.email.match(emailRegex))"><i
        class="fa fa-exclamation-triangle"></i>Email must be valid, like: name@example.com!</em>
    </div>

    <div class="form-group" *ngIf="!existedUserFlag">
      <label>Password :</label>
      <input type="password" class="form-control" placeholder="Password..." name="password"
             [(ngModel)]="data.password" required>
      <em *ngIf="editForm.submitted && editForm.controls?.password.invalid"><i
        class="fa fa-exclamation-triangle"></i>This
        field is required!</em>
      <!-- <em *ngIf="data.password && !(data.password?.match(passwordRegex))"><i
        class="fa fa-exclamation-triangle"></i>Password must contact at least 1 special character (@, $, %, ...) and 1
        letter and 1 number!</em> -->
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn" (click)="activeModal.dismiss()">close</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
