<p-growl [(value)]="cornerMessage"></p-growl>

<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading"></p-progressSpinner>


<div [hidden]="toggleLoading">
  <div class="modal-header">
    <h4 class="modal-title">Edit {{data.dispatcher.firstName}} Areas and Problems</h4>
  </div>

  <form #editDisForm="ngForm" (ngSubmit)="editDisForm.valid && applyEdits()">
    <div class="modal-body">

      <div *ngFor="let dispatcherDetail of dispatcherDetailsFormated; let i=index" class="form-section">

        <div class="form-group halfInput">
          <label>Government: </label>
          <select [(ngModel)]="dispatcherDetail.governorate" [name]="dispatcherDetail.governorate + i" class="form-control" (change)="getAreas(dispatcherDetail)">
            <option *ngFor="let t of governorates" [value]="t.name">{{t.name}}</option>
          </select>
          <em *ngIf="editDisForm.submitted && editDisForm.controls['dispatcherDetail.governorate + i']?.invalid"><i class="fa fa-exclamation-triangle"></i>This
            field is required</em>
        </div>

        <div class="form-group halfInput">
          <label>Area: </label>
          <select [(ngModel)]="dispatcherDetail.area" class="form-control" [name]="dispatcherDetail.area + i">
            <option *ngFor="let t of dispatcherDetail.areas" [value]="t.name">{{t.name}}</option>
          </select>
          <em *ngIf="editDisForm.submitted && editDisForm.controls['dispatcherDetail.area + i']?.invalid"><i class="fa fa-exclamation-triangle"></i>This
            field is required</em>
        </div>

        <!-- <div class="form-group halfInput">
          <label style="display: block;">Areas: </label>
          <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose Areas" [options]="dispatcherDetail.areas"
                         [name]="'dispatcherDetail.area' + i" required
                         [(ngModel)]="dispatcherDetail.area" optionLabel="name"
                         [panelStyle]="{minWidth:'20em'}"></p-multiSelect>
          <em *ngIf="editDisForm.submitted && editDisForm.controls['dispatcherDetail.area' + i]?.invalid"><i
            class="fa fa-exclamation-triangle"></i>This field is required</em>
        </div> -->


        <!-- <div class="form-group halfInput">
          <label style="display: block;">Areas: </label>
          <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose Areas" [options]="dispatcherDetail.areas"
                         [name]="'area' + i" required
                         [(ngModel)]="dispatcherDetail.area" optionLabel="name"
                         [panelStyle]="{minWidth:'20em'}"></p-multiSelect>
          <em *ngIf="editDisForm.submitted && editDisForm.controls['area' + i]?.invalid"><i
            class="fa fa-exclamation-triangle"></i>This field is required</em>
        </div> -->
        <!-- <div class="form-group halfInput">
            <label style="display: block;">Areas: </label>
          <p-multiSelect [options]="dispatcherDetail.areas"  defaultLabel="Choose Areas"  [name]="'area' + i" required 
           [(ngModel)]="selectedAreas" optionLabel="name" [panelStyle]="{minWidth:'20em'}" > 
           <em *ngIf="editDisForm.submitted && editDisForm.controls['area' + i]?.invalid"><i class="fa fa-exclamation-triangle"></i>This
            field is required</em>
          </p-multiSelect>
        </div> -->

        <div class="form-group halfInput">
          <label style="display: block;">Problems: </label>
          <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose Problems" [options]="problems" [name]="'problem' + i" required
            [(ngModel)]="dispatcherDetail.problems" optionLabel="name" [panelStyle]="{minWidth:'20em'}"></p-multiSelect>
          <em *ngIf="editDisForm.submitted && editDisForm.controls['problem' + i]?.invalid"><i class="fa fa-exclamation-triangle"></i>This
            field is required</em>
        </div>

      </div>

      <div *ngFor="let problem of newProblems; let i = index" class="form-section">

        <div class="form-group halfInput">
          <label>Government: </label>
          <select [(ngModel)]="problem.governorate" [name]="problem.governorate + i + dispatcherDetailsFormated.length" required class="form-control"
            (change)="getAreas(problem)">
            <option *ngFor="let t of governorates" [value]="t.name">{{t.name}}</option>
          </select>
          <em *ngIf="editDisForm.submitted && editDisForm.controls['' + problem.governorate + i + dispatcherDetailsFormated.length + '']?.invalid"><i
              class="fa fa-exclamation-triangle"></i>This field is required</em>
        </div>

        <div class="form-group halfInput">
          <label>Area: </label>
          <select [(ngModel)]="problem.area" class="form-control" [name]="problem.area + i + dispatcherDetailsFormated.length">
            <option *ngFor="let t of problem.areas" [value]="t.name">{{t.name}}</option>
          </select>
          <em *ngIf="editDisForm.submitted && editDisForm.controls['' + problem.area + i + dispatcherDetailsFormated.length + '']?.invalid"><i
              class="fa fa-exclamation-triangle"></i>This field is required</em>
        </div>

        <div class="form-group halfInput">
          <label style="display: block;">Problems: </label>
          <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose Problems" [options]="problems" [name]="'problem' + i + dispatcherDetailsFormated.length"
            required="true" [(ngModel)]="problem.problems" optionLabel="name" [panelStyle]="{minWidth:'20em'}"></p-multiSelect>
          <em *ngIf="editDisForm.submitted && editDisForm.controls['' + 'problem' + i + dispatcherDetailsFormated.length + '']?.invalid"><i
              class="fa fa-exclamation-triangle"></i>This field is required</em>
        </div>

        <button class="btn btn-danger" (click)="removeNewProblem(problem)"><i class="fa fa-close"></i>Remove</button>
      </div>

      <button type="button" class="btn btn-primary" (click)="addNewProblem()">Add New Problem</button>

    </div>

    <div class="modal-footer">
      <button type="button" (click)="close()" class="btn btn-default">Close</button>
      <button type="submit" class="btn btn-dark">Save</button>
    </div>

  </form>

</div>