<p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading">

  <div class="row">

    <p-dataTable [rows]="10" #dt [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                 [value]="disWithProbs">
      <p-column header="Name">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <h4 tooltipPosition="top" (click)="openEditModal(row)" pTooltip="Edit {{row?.dispatcher?.userName}}">
            {{row?.dispatcher?.userName}}</h4>
        </ng-template>
      </p-column>

      <p-column field="area" header="Areas" [filter]="true" filterMatchMode="in">
        <ng-template pTemplate="filter" let-col>
          <p-multiSelect [options]="allAreas" defaultLabel="All Areas"
                         (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                         styleClass="ui-column-filter"></p-multiSelect>
        </ng-template>
      </p-column>

      <p-column field="orderProblem.name" header="Problems" [filter]="true" filterMatchMode="in">
        <ng-template pTemplate="filter" let-col>
          <p-multiSelect [options]="allProblems" defaultLabel="All Problems"
                         (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                         styleClass="ui-column-filter"></p-multiSelect>
        </ng-template>
      </p-column>

      <p-column header="Remove">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <button [hidden]="row?.orderProblem?.name == '-'" class="btn btn-danger" (click)="remove(row)"><i
            class="fa fa-close"></i> {{'SHARED.REMOVE'|translate}}
          </button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
