/* You can add global styles to this file, and also import other style files */
/* line 11, styles.scss */

html body {
  font-family: 'Roboto', sans-serif !important;
  min-height: 100%;
  margin: 0;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif !important;
  margin: 0 !important;
}
.h4, h4 {
  font-size: 16px !important;
}
.h2, h2 {
  font-size: 28px !important;
}
/* line 15, styles.scss */
html body .loading-spinner {
  margin-top: 50px;
  position: relative;
  top: 50%;
  left: 45%;
}
/* line 20, styles.scss */
html body .loading-spinner .ui-progress-spinner {
  margin-top: 75px;
}
/* line 24, styles.scss */
html body .loading-spinner .ui-progress-spinner .ui-progress-spinner-svg {
  width: 100%;
}
/* line 29, styles.scss */
html body .wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -25px;
}
/* line 37, styles.scss */
html body .footer {
  height: 50px;
}
/* line 42, styles.scss */
html body .push {
  height: 50px;
}
/* line 48, styles.scss */
html body em {
  color: red;
}
/* line 52, styles.scss */
html body .uk-card {
  padding-top: 25px;
  padding-bottom: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #f0f0f0;
  padding-right: 2%
}
/* line 63, styles.scss */
html body .accordion-header li {
  background-color: #f0f0f0;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid #f0f0f0;
  transition: 0.5s all;
  box-sizing: border-box;
}
/* line 75, styles.scss */
html body .accordion-header li:hover {
  border: 1px solid #02466b;
  transition: 0.5s all;
}
/* line 80, styles.scss */
html body .accordion-header li h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 85, styles.scss */
html body .uk-card.uk-card-default {
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15);
}
/* line 88, styles.scss */
html body .page-container {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
}
/* line 95, styles.scss */
html body .page-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #02466b;
  border-bottom: 1px solid #02466b;
  width: 100%;
}
/* line 102, styles.scss */
html body .sub-title {
  text-transform: uppercase;
  color: #02466b;
  font-weight: bold;
}
/* line 108, styles.scss */
html body .ui-widget-overlay.ui-sidebar-mask {
  background-color: transparent;
}
/* line 112, styles.scss */
html body .ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
  width: 100%;
}
/* line 118, styles.scss */
html body .ui-buttonset .ui-button {
  margin-right: 2px;
  height: 35px;
}
/* line 125, styles.scss */
html body button {
  text-transform: capitalize;
}
/* line 128, styles.scss */
html body .button {
  font-size: 1.2em;
  height: 50px;
  box-sizing: border-box;
  display: inline;
  width: 100%;
  transition: 0.5s all;
}
/* line 137, styles.scss */
html body .btn-dark {
  text-transform: capitalize;
  color: white;
  background-color: #02466b;
  border: 2px solid #02466b;
  width: 100%;
}
/* line 143, styles.scss */
html body .btn-dark:hover {
  color: white;
  border: 2px solid lightgray;
}
/* line 147, styles.scss */
html body .btn-dark:focus {
  color: white;
  border: 2px solid lightgray;
}
/* line 152, styles.scss */
html body .btn-light {
  text-transform: capitalize;
  width: 100%;
  background-color: #f28a2c;
  color: white;
  border: 2px solid #f28a2c;
  transition: 0.5s all;
}
/* line 159, styles.scss */
html body .btn-light:hover {
  color: white;
  border: 2px solid lightgray;
  transition: 0.5s all;
}
/* line 164, styles.scss */
html body .btn-light:focus {
  color: white;
}
/* line 168, styles.scss */
html body .btn-outlined {
  text-transform: capitalize;
  border: 1px solid #f28a2c;
  background-color: transparent;
  color: #f28a2c;
}
/* line 174, styles.scss */
html body h1, html body h2, html body h3, html body h4, html body h5 {
  color: #02466b;
}
/* line 177, styles.scss */
html body .modal-dialog {
  position: relative;
}
/* line 180, styles.scss */
html body .ngx-datatable.material .datatable-header .datatable-header-cell {
  text-align: center;
}
/* line 185, styles.scss */
html body .datatable-body-cell-label {
  text-align: center;
}
/* line 189, styles.scss */
html body .modal-content {
  position: absolute;
  width: 100%;
}
/* line 195, styles.scss */
html body tr td {
  text-align: center;
}

/* line 201, styles.scss */
.app-spinner {
  position: absolute !important;
  left: 50%;
  top: 50%;
  z-index: 1000;
}

/* line 208, styles.scss */
.ngx-datatable.material {
  box-shadow: none;
  border: 1px solid lightgray;
}

/* line 213, styles.scss */
ngb-modal-window.modal.fade.show {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 217, styles.scss */
textarea {
  resize: vertical;
  overflow-x: hidden;
}

/* line 222, styles.scss */
.btn-primary {
  background-color: #02466b;
  transition: 0.5s all;
}

/* line 227, styles.scss */
.btn-primary:hover {
  border: 1px solid white;
  transition: 0.5s all;
}

/* line 232, styles.scss */
.btn {
  transition: 0.5s all;
  border-radius: 2px;
}

/* line 237, styles.scss */
.form-control {
  border-radius: 2px;
}

/* line 241, styles.scss */
.btn:hover {
  transition: 0.5s all;
}

/*hide arrows in type number input*/
/* line 247, styles.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

/**********************/
/*Tables global styles*/
/**********************/
/* line 258, styles.scss */
table {
  background-color: rgba(250, 250, 250, 0.8);
  color: black;
  margin: 0 auto;
}

/* line 6, calls-history.scss */
/* line 265, styles.scss */
table tr {
  transition: 0.5s all;
}

/* line 8, calls-history.scss */
/* line 270, styles.scss */
table tr td, table tr th {
  border: 1px solid grey;
}

/* line 12, calls-history.scss */
/* line 275, styles.scss */
table tr .action-btn-cell button {
  display: block;
  margin: 5px auto;
}

/* line 20, calls-history.scss */
/* line 281, styles.scss */
table tr:hover {
  background-color: #fafafa;
  transition: 0.5s all;
}

/* line 26, calls-history.scss */
/* line 287, styles.scss */
table thead tr:first-child {
  cursor: default;
  background-color: lightgrey;
}

/**********************/
/* line 293, styles.scss */
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 299, styles.scss */
.clickable {
  cursor: pointer;
}

/* line 303, styles.scss */
.mt-20 {
  margin-top: 20px;
}

/* line 307, styles.scss */
.bluetxt {
  color: rgba(18, 120, 255, 0.91);
}

/* line 311, styles.scss */
.mpt-0 {
  margin-top: 0px;
  padding-top: 0px;
}

/* line 316, styles.scss */
.mtb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 321, styles.scss */
:host /deep/ datatable-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/* line 327, styles.scss */
:host /deep/ datatable-body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

/* line 332, styles.scss */
:host /deep/ datatable-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #E0E0E0;
}

/* line 338, styles.scss */
:host /deep/ .datatable-header-cell, :host /deep/ .datatable-header-inner {
  height: 100%;
}

/* line 342, styles.scss */
:host /deep/ .datatable-header-cell-label {
  font-size: 14px;
}

/* line 346, styles.scss */
:host /deep/ .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
:host /deep/ .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: #cccccc !important;
  color: #FFF;
}

/* line 352, styles.scss */
:host /deep/ .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  color: black;
  display: block;
}

@keyframes showNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 376, styles.scss */
.modal {
  display: block;
  color: black;
  animation: showNav 300ms ease-in-out both;
}

/* line 382, styles.scss */
html body button, html body button:focus {
  outline: none !important;
}

/* line 386, styles.scss */
.datatable-row-detail {
  padding: 0px !important;
}

/* line 390, styles.scss */
.ErrorLable {
  display: block;
  margin-left: 184px;
  margin-top: 5px;
  color: #e18887;
}

/* line 397, styles.scss */
.has-error {
  border: solid 2px #fa1414 !important;
}

/* line 401, styles.scss */
.noOverflow {
  overflow: hidden !important;
}

/* line 405, styles.scss */
.temp-sibiling ~ .StaticBack {
  width: 98%;
}
.dispatcher-order-container h4{
  margin-top: 0% !important;
}