<div class="modal-header">
  <h4 class="modal-title">{{'Dispcher.trnsfrOedrDis'|translate}}</h4>
</div>

<p-progressSpinner [hidden]="!toggleLoading"></p-progressSpinner>

<form #dispatcher="ngForm" [hidden]="toggleLoading"
      (submit)="dispatcher.valid && chooseDispatcher(dispatcher?.value?.choosedDispatcher)">
  <div class="modal-body">

    <p-dropdown name="choosedDispatcher" [style]="{'width':'100%'}" [options]="dispatchers" optionLabel="userName"
                resetFilterOnHide="true" defaultLabel="Choose"
                [ngModel]="choosedDispatcher" required
                filter="true" placeholder="Select Dispatcher" filterPlaceholder="'Search Dispatcher'"
                filterBy="'userName'"></p-dropdown>
    <em *ngIf="dispatcher.submitted && dispatcher.controls?.choosedDispatcher?.invalid"><i
      class="fa fa-exclamation-triangle"></i> {{'Dispcher.plzChosDis'|translate}}</em>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="close()">{{'SHARED.clos'|translate}}</button>
    <button type="submit" class="btn btn-dark">{{'Dispcher.trnsfr'|translate}}</button>
  </div>
</form>
