<!--<p-growl [(value)]="cornerMessage" [life]="5000"></p-growl>-->
<div class="row">
  <div class="col-md-offset-1 col-md-5">
    <h4 class="sub-title">{{'CONTRACT.lstOsContrcts'|translate}}</h4>
  </div>
  <div class="col-md-offset-1 col-md-2">
    <button class="btn btn-dark" (click)="emitPrint()">{{'CUSTOMER.prnt'|translate}}</button>
  </div>
  <div class="col-md-2">
    <button class="btn btn-dark" (click)="exportCsv()">{{'CUSTOMER.Export'|translate}}</button>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <ngx-datatable class="material expandable" [rows]="contracts['Data']" [columnMode]="'force'" [columns]="[]" [externalPaging]="true"
    [count]="contracts['Count']" [offset]="contracts['PageNo']" [limit]="contracts['PageSize']" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'"
    [scrollbarH]="true" [selected]="[]" [selectionType]="'falsey'" (page)="pageCallback($event)">
      <!-- <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="false"
        [checkboxable]="false">
      </ngx-datatable-column> -->

      <ngx-datatable-column [width]='90' prop="cont_no" name="Contract#"></ngx-datatable-column>

      <!-- <ngx-datatable-column [width]='120' prop="owner_name" name="Customer Name"></ngx-datatable-column> -->
      <!-- <ngx-datatable-column [width]='120' prop="civil_id" name="Civil#"></ngx-datatable-column> -->
      <!-- <ngx-datatable-column [width]='120' prop="tenants_passport" name="Customer Passport"></ngx-datatable-column> -->

      <ngx-datatable-column [width]='120' prop="owner_name" name="Owner Name"></ngx-datatable-column>
      <ngx-datatable-column [width]='220' prop="real_name" name="Real Name"></ngx-datatable-column>
      
      <ngx-datatable-column [width]='83' prop="from_dt" name="start date"></ngx-datatable-column>

      <ngx-datatable-column [width]='83' prop="to_date" name="End date"></ngx-datatable-column>

      <!-- <ngx-datatable-column [width]='60' prop="amount" name="Price"></ngx-datatable-column> -->


      <!-- <ngx-datatable-column [width]='150' prop="" name="Attachements">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

          <a style="display: inline" target="_blank" *ngFor="let u of row.contractFiles"
             [href]="u.url">{{u.fileName}}, </a>
        </ng-template>
      </ngx-datatable-column> -->

      <!-- <ngx-datatable-column [width]='150' prop="" name="Estimation Reference">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <a
            style="display: inline; font-weight: bold;"
            (click)="routeToEstimation(row?.contractQuotations[0]?.quotation?.estimation?.id)">{{row?.contractQuotations[0]?.quotation?.estimation?.refNumber}}</a>
        </ng-template>
      </ngx-datatable-column> -->

      <ngx-datatable-column [width]='200' prop="id" name="Contract">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>

          <p-splitButton label="{{'CONTRACT.cretOrder'|translate}}" appendTo="body" icon="fa fa-check" (onClick)="routeToGenerateOrder(row.contract_id)" (onDropdownClick)="setActiveRow(row)"
            [model]="buttonsList"></p-splitButton>

        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>
</div>
